.woocommerce-MyAccount-navigation > ul{
    display: flex;
    justify-content: space-between;
     &>li{
        list-style-type: none;
        &>a{
            color: $color-dark;
            &:hover{
                color:$color-blue;
            }
        }
    }
}