.c-shopoverzicht {
	&__category {
		scroll-margin-top: 200px;

		margin-bottom: 4rem;
	}

	&__carousel {
		.glide__arrow {
			color: black;

			border: none;

			box-shadow: none;

			&--right {
				right: 0;
			}

			&--left {
				left: 0;
			}
		}

		.glide__bullets {
			bottom: 0;
		}

		.glide__bullet {
			width: 16px;
			height: 16px;

			border-color: $color-blue;

			&--active {
				background-color: $color-blue;
			}
		}
	}

	&__btncontainer {
		display: flex;
		justify-content: center;

		button {
			margin-top: 0;
		}

		.c-btn--webshop {
			&:hover {
				svg {
					right: 50px;
				}
			}
		}
	}

	&__menu {
		justify-content: center;

		margin-bottom: 4rem;

		@include breakpoint(xlarge down) {
			li {
				a {
					margin: 0.5rem !important;
				}
			}
		}

		@include breakpoint(small only) {
			justify-content: start;
		}

		li {
			a {
				border: 2px solid $color-blue;
				border-radius: 8px;

				margin: 1rem;

				background-color: transparent;

				transition: all 0.2s;

				color: $color-dark;

				&:hover {
					color: $color-white;

					background-color: $color-blue;
				}
			}
		}
	}

	&__btn {
		&:hover {
			svg {
				right: 50px !important;
			}
		}

		&--packages {
			&:hover {
				svg {
					right: 120px !important;

					@include breakpoint(xlarge down) {
						right: 120px !important;
					}
				}
			}
		}

		&--solids {
		}

		&--soaps {
		}

		&--bodyFace {
			&:hover {
				svg {
					right: 120px !important;

					@include breakpoint(xlarge down) {
						right: 120px !important;
					}
				}
			}
		}

		&--bathShowerHair {
			&:hover {
				svg {
					right: 120px !important;

					@include breakpoint(xlarge down) {
						right: 90px !important;
					}
				}
			}
		}

		&--CareForSkin {
			&:hover {
				svg {
					right: 120px !important;

					@include breakpoint(xlarge down) {
						right: 90px !important;
					}
				}
			}
		}
	}
}
