.c-contact {
	margin-top: 3rem;
	& p {
		width: 60%;
	}
	&__map {
		box-shadow: 8px 8px 12px rgba($color: #000000, $alpha: 0.25);
	}
	&__marker {
		// background-color: #000000;
		img {
			border-radius: 8px;
		}
	}
}
.c-sectionsplit {
	text-align: center;
	margin-top: 5rem;
	padding-bottom: 2rem;
}

.c-stores {
	padding-bottom: 3rem;
	&__items {
		> div {
			padding: 0 0.5rem;
		}

		& img {
			padding-bottom: 1rem;
			width: 100%;
			height: 348px;
			object-fit: cover;
			padding-left: 0;
		}

		&--imgcontainer {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__text {
		text-align: center;
		position: absolute;
		color: white;
	}
}
#map {
	height: 100%;
	.leaflet-pane {
		z-index: 1;
	}

	.leaflet-popup-content-wrapper {
		background-color: $color-light;
		border-radius: 8px;
	}

	.leaflet-top {
		z-index: 1;
		* {
			z-index: inherit;
		}
	}
}

form {
	input {
		border-radius: 4px;
	}
}

form.was-validated {
	input {
		&:valid {
			border-color: green !important;
		}

		&:invalid {
			border-color: red !important;
		}
	}
}
