.c-minicart{
    position: absolute;
    right: 0;
    z-index: 9999;
    background-color: $color-white;
    position: fixed;
    border: 1px solid$color-blue;
    border-radius: .5rem;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}

.c-quantity{
    width: 10rem;
    margin-left: 1rem;
    &__price{
        display: flex;
        align-items: center;
        height: 3rem;
        input {
            width: 3rem;
            margin: 0;
            height: 3rem;
            margin-right: 1rem;
        }
    }
    a {
        color: black;
    }
  
}

.woocommerce-mini-cart-item{
    display: flex;
    width: 25rem;
    align-items: center;
}

.woocommerce-mini-cart-item > .remove {
    font-size: 3rem;
    margin-left: .5rem;
    width: 2rem;
    color: $color-activeblue;
    &:hover{
        color: $color-main;
    }
} 

.woocommerce-mini-cart {
    margin-left: 0;
    list-style: none;
}

.woocommerce-result-count{
    display: none;
}

.page-title{
    display: none;
}

.wc-forward{
    font-size: 1rem;
    font-weight: $fw-semibold;
    border-radius: .5rem;
    border: 2px solid $color-blue;
    background-color: white;
    color: black;
    margin: .5rem;
    &:hover, &:active, &:focus {
        color: $color-dark;
        background-color: $color-blue;
    }
}

.woocommerce-mini-cart__total{
    margin-left: 1rem;
}
