.c-detailtitle {
    //background-color: hotpink;
    //width: 100%;
    margin-bottom: 2rem;

    &__subtitle {
        font-size: .75rem;
        color: $color-dark;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
         a{
            color: $color-blue;
         }
    }

    &__title {
        margin-top: -1rem;
        font-size: 2.5rem;
        font-weight: $fw-semibold;
    }

    &__tags {
        margin-top: -.5rem;
        span {
            margin-right: .25rem;
            font-size: 1rem;
            padding: .2rem;
            border-radius: .4rem;
            background-color: $color-green;
        }

    }
}