.c-detail {
    // background-color: yellow;
    // width: 100%;
    padding-bottom: 5rem;
    &__itemabove {
        &--img {
            box-shadow: 8px 8px 12px rgba($color: #000000, $alpha: 0.25);
        }

        &--list {
            li {
                list-style-image: url(../../img/icons/down-arrow-icon.svg);
                font-size: 1.125rem;
                font-weight: $fw-semibold;
            }
        }

        &--price {
            margin-top: -1rem;
            p {
                font-weight: $fw-semibold;

                &:nth-child(1) {
                    font-size: 2.25rem;

                }
    
                &:nth-child(2) {
                    margin-top: -2rem;
                    font-size: 1.125rem;
                }
            }
        }

        &--weights {

            a {
                color: $color-dark;
            }

            span {
                padding: .5rem;
                margin-right: 1rem;
                border-radius: .25rem;
                border: 2px solid $color-blue;

                &:hover, &:active, &:focus {
                    background-color: $color-green;
                    border: 2px solid $color-green;
                    cursor: pointer;
                }
            }

        }

        &--delivery {
            margin-top: 2rem;
        }
    }
 &__count{
    margin-top: 2px;
    width: 4rem;
    & input{
        background-color: $color-blue;
        &:focus{
            border: 2px solid $color-blue;
        }
    }
 }
 &__btn{
    margin-left: 2rem;
    width: 25rem;

 }
}
.c-tabs{
    border-radius: 3px;
    & li, a, a:focus{
        color: black !important;

    }
    & a:focus, a:active{
        background-color: $color-green !important;
        background: $color-green !important;
    }

    & a[aria-selected=true]{
        background-color: $color-green !important;
    }


}