.c-btn {
	font-size: 1rem;
	font-weight: $fw-semibold;
	border-radius: 0.5rem;

	&__detail,
	&__shopping {
		color: $color-dark;
		background-color: $color-white;
		// height: 3.25rem;

		&--animatie {
			// margin-left: .75rem;
			width: 2rem;
			height: 2rem;
		}
	}

	&__detail {
		width: 60%;
		border: 2px solid $color-blue;

		&:hover,
		&:active,
		&:focus {
			color: $color-dark;
			background-color: $color-blue;
		}
	}

	&__shopping {
		width: 25%;
		margin-left: 10%;
		border: 2px solid $color-dark;

		max-height: 47px;

		padding-top: 10px;

		&:hover,
		&:active,
		&:focus {
			color: $color-dark;
			background-color: $color-blue;
		}

		&--icon {
			margin: auto;
			display: block;
		}
	}

	&--webshop {
		background-color: $color-blue;

		position: relative;

		max-width: 436px;

		width: 60%;

		&:hover {
			color: $color-white;

			svg {
				fill: $color-white;

				opacity: 100%;
				right: 110px;

				@include breakpoint(xlarge down) {
					right: 80px;
				}
				@include breakpoint(large down) {
					right: 60px;
				}
			}
		}

		svg {
			position: absolute;

			top: 14px;
			right: 280px;

			transition: all 0.5s;
			opacity: 0;
		}
	}

	&--homeblog {
		background-color: $color-blue;

		&:hover {
			color: $color-white;
		}
	}
}
