@use "../settings/color" as color;

.c-svgLinkedIn {
	fill: color.$text-color-a;

	width: 24px;
	height: 24px;

	padding-right: 8px;

	&__bgCarrier {
		stroke-width: 0;
	}

	&__tracerCarrier {
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	&__iconCarrier {
		> g {
			fill: none;
		}
	}

	&__path1 {
		transition: all 250ms;

		fill: color.$text-color-a;
	}

	&__path2 {
		fill: color.$box__bg-color;
	}
}
