@use "../tools/tools.grid" as grid;
@use "../utilities/utility.box";

.c-playground {
	display: flex;
	align-items: center;

	animation-delay: 1.5s;

	order: 7;

	@include grid.width(1, "ls");
	@include grid.height(1);

	@extend %u-box;

	h2 {
		margin-top: 8px;

		font-size: 1.25rem;

		display: flex;
		align-items: center;
		gap: 8px;
	}

	a {
		@extend %u-boxLink;
	}
}
