@use "../tools/tools.grid" as grid;
@use "../utilities/utility.box";

.c-moreAbout {
	display: flex;
	justify-content: left;
	align-items: center;

	@include grid.width(1, "ls");
	@include grid.height(1);

	@extend %u-box;

	h2 {
		font-size: 1.25rem;
		margin-top: 8px;

		display: flex;
		align-items: center;
		gap: 8px;
	}

	a {
		@extend %u-boxLink;
	}
}
