@use "../settings/color" as color;
@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../tools/tools.media-querries" as mq;
@use "../utilities/utility.box";

.c-projects {
	&__projectGoplay {
		display: flex;
		justify-content: center;
		align-items: center;

		@include order.pos(3);

		@include grid.width(1);
		@include grid.width(2, "ts");

		@include grid.height(2);

		@extend %u-box;

		a {
			@extend %u-boxLink;
		}

		h2 {
			margin-top: 8px;

			font-size: clamp(1.6rem, 3.2vw + 1rem, 2.25rem);

			display: flex;
			align-items: center;
			gap: 8px;

			.c-svgArrow {
				width: 3.5rem;
				height: 3.5rem;
			}
		}
	}
}
