@use "../tools/tools.grid" as grid;
@use "../utilities/utility.box";

.c-about {
	animation-delay: 250ms;

	order: 1;

	@include grid.width(2, "ts");
	@include grid.width(3, "tl");

	@include grid.height(6);
	@include grid.height(5, "mm");
	@include grid.height(4, "ts");
	@include grid.height(3, "tl");
	@include grid.height(4, "ls");

	@extend %u-box;

	h1 {
		font-size: clamp(1.5rem, 3vw + 1rem, 2.25rem);
		font-weight: 400;
		letter-spacing: -1px;

		b {
			font-weight: 600;
		}
	}
}
