@use "../settings/color" as color;
@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../tools/tools.media-querries" as mq;
@use "../utilities/utility.box";

.c-contact {
	animation-delay: 650ms;

	@include order.pos(2);

	@include grid.width(2, "ls");
	@include grid.height(2);

	@extend %u-box;

	&__link {
		display: flex;
		align-items: center;

		padding-left: 12px;

		text-decoration: none;

		color: color.$text-color-a;

		transition: all 250ms;

		@include mq.down(ml) {
			font-size: 14px;
		}

		@include mq.down(mm) {
			font-size: 13px;
		}

		&--mail {
			padding-bottom: 8px;
			&:hover {
				color: color.$text-color__link-hover;

				.c-svgMail__iconCarrier path {
					stroke: color.$text-color__link-hover;
				}
			}
		}

		&--linkedIn {
			padding-bottom: 8px;
			&:hover {
				color: color.$linkedIn-color;

				.c-svgLinkedIn__path1 {
					fill: color.$linkedIn-color;
				}
			}
		}

		&--github {
			&:hover {
				color: color.$github-color;

				.c-svgGithub {
					fill: color.$github-color;
				}
			}
		}
	}
}
