@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../utilities/utility.box";

.c-skills {
	position: relative;

	animation-delay: 1.25s;

	@include order.pos(4);
	@include order.pos(2, "tl");
	@include order.pos(4, "ll");

	@include grid.width(1, "ls");

	@include grid.height(6);
	@include grid.height(5, "tl");
	@include grid.height(6, "ls");

	@extend %u-box;

	h2 {
		font-size: 1.5rem;
		text-align: center;
	}

	h3 {
		position: absolute;
		bottom: 0;

		margin-bottom: 1.5rem;

		display: flex;
		align-items: center;
		gap: 8px;
	}

	a {
		@extend %u-boxLink;
	}
}
