@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../utilities/utility.box";

.c-projects {
	display: flex;
	align-items: center;

	animation-delay: 1s;

	@include order.pos(6);

	@include grid.width(2, "tl");
	@include grid.width(4, "ls");

	@include grid.height(2);

	@extend %u-box;

	h2 {
		margin-top: 8px;

		font-size: clamp(1.6rem, 3.2vw + 1rem, 2.25rem);

		display: flex;
		align-items: center;
		gap: 8px;

		.c-svgArrow {
			width: 3.5rem;
			height: 3.5rem;
		}
	}

	a {
		@extend %u-boxLink;
	}
}
