@use "../tools/tools.grid" as grid;
@use "../utilities/utility.box";

.c-projects {
	display: flex;
	align-items: center;

	@include grid.width(4, "ls");
	@include grid.height(2);

	@extend %u-box;

	h2 {
		margin-top: 8px;

		font-size: 2.25rem;

		display: flex;
		align-items: center;
		gap: 8px;

		.c-svgArrow {
			width: 3.5rem;
			height: 3.5rem;
		}
	}

	a {
		@extend %u-boxLink;
	}
}
