@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../utilities/utility.box";

.c-highlightedProject {
	display: flex;
	align-items: center;

	animation-delay: 1.1s;

	@include order.pos(8);
	@include order.pos(9, "ts");
	@include order.pos(8, "ls");

	@include grid.width(2, "ts");
	@include grid.width(3, "ls");

	@include grid.height(2);

	@extend %u-box;

	h2 {
		margin-top: 8px;

		font-size: clamp(1.4rem, 3vw + 1rem, 2.25rem);

		display: flex;
		align-items: center;
		gap: 8px;

		.c-svgArrow {
			width: 3rem;
			height: 3rem;
		}
	}

	a {
		@extend %u-boxLink;
	}
}
