@use "../settings/color" as color;
@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../tools/tools.media-querries" as mq;
@use "../utilities/utility.box";

.c-skills {
	&__programmingLanguages {
		@include order.pos(3);

		@include grid.width(1);
		@include grid.width(2, "ts");

		@include grid.height(5);
		@include grid.height(5, "mm");
		@include grid.height(4, "ml");

		@extend %u-box;

		div {
			width: 50%;

			@include mq.down(mm) {
				width: 100%;
			}
		}

		section {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__other {
		@include order.pos(4);

		@include grid.width(1);

		@include grid.height(1);

		@extend %u-box;
	}

	&__databases {
		@include order.pos(5);
		@include order.pos(6, "ls");
		@include order.pos(7, "ll");

		@include grid.width(1);

		@include grid.height(1);

		@extend %u-box;
	}

	&__cms {
		@include order.pos(6);
		@include order.pos(7, "ls");
		@include order.pos(8, "ll");

		@include grid.width(1);

		@include grid.height(1);

		@extend %u-box;
	}

	&__languages {
		@include order.pos(7);
		@include order.pos(5, "ls");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__graphicDesign {
		@include order.pos(9);

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__video {
		@include order.pos(8);
		@include order.pos(6, "ll");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__3d {
		@include order.pos(10);
		@include order.pos(13, "ls");
		@include order.pos(10, "ll");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__animation {
		@include order.pos(11);
		@include order.pos(12, "tl");
		@include order.pos(14, "ll");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__cssFrameworks {
		@include order.pos(14);
		@include order.pos(11, "ll");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__jsFrameworks {
		@include order.pos(11);
		@include order.pos(10, "ls");
		@include order.pos(12, "ll");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	&__phpFrameworks {
		@include order.pos(11);
		@include order.pos(13, "ll");

		@include grid.width(1);

		@include grid.height(2);

		@extend %u-box;
	}

	h2 {
		margin-top: 16px;

		font-size: clamp(1.25rem, 1.5vw + 1rem, 1.75rem);

		text-align: center;
	}

	h3 {
		font-size: clamp(1rem, 1.25vw + 1rem, 1.5rem);

		margin-top: 1rem;
	}

	a {
		color: color.$text-color-emphasis;

		&:hover {
			color: color.$text-color__link-hover;
		}
	}

	ul {
		margin-top: 2px;

		padding-left: 30px;
	}
}
