@use "../tools/tools.grid" as grid;
@use "../utilities/utility.box";

.c-copyright {
	@include grid.width(1, "ls");
	@include grid.height(1);

	@extend %u-box;

	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		margin-top: 8px;

		font-size: 1rem;
		font-weight: 200;
	}
}
