.c-svgArrow {
	fill: none;
	stroke: #ffffff;
	transform: rotate(0) matrix(1, 0, 0, 1, 0, 0);
	width: 2rem;
	height: 2rem;

	transition: transform 250ms ease-in-out;

	&__bgCarrier {
		stroke-width: 0;
	}

	&__tracerCarrier {
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	&__iconCarrier {
		path {
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 2;
			stroke: #ffffff;
		}
	}
}
