@use "../settings/color" as color;
@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../tools/tools.media-querries" as mq;
@use "../utilities/utility.box";

.c-about {
	&__studies {
		animation-delay: 500ms;

		@include order.pos(3);

		@include grid.width(1);
		@include grid.width(2, "ts");

		@include grid.height(5);
		@include grid.height(3, "ts");
		@include grid.height(4, "ls");

		@extend %u-box;

		h2 {
			margin-bottom: 0;
		}
	}

	&__experience {
		animation-delay: 1.5s;

		@include order.pos(4);

		@include grid.width(1);
		@include grid.width(2, "ts");

		@include grid.height(5);
		@include grid.height(3, "ts");

		@extend %u-box;

		h2 {
			margin-bottom: 0;
		}
	}

	&__activities {
		animation-delay: 750ms;

		@include order.pos(5);

		@include grid.width(1);

		@include grid.height(3);

		@extend %u-box;
	}

	&__miniatures {
		animation-delay: 1s;

		@include order.pos(8);

		@include grid.width(1);
		@include grid.width(2, "ls");

		@include grid.height(6);
		@include grid.height(5, "mm");
		@include grid.height(6, "tl");
		@include grid.height(3, "ls");

		@extend %u-box;
	}

	&__racing {
		animation-delay: 1.2s;

		@include order.pos(6);

		@include grid.width(1);
		@include grid.width(2, "ts");

		@include grid.height(4);

		@extend %u-box;
	}

	&__media {
		animation-delay: 600ms;

		@include order.pos(7);

		@include grid.width(1);

		@include grid.height(4);

		@extend %u-box;
	}

	&__list {
		margin-top: 8px;

		padding-left: 24px;

		&Item {
			h3 {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			h3 span {
				color: color.$text-color-c;
			}

			h4 {
				color: color.$text-color-d;
			}

			h4 span {
				color: color.$text-color-emphasis;
			}

			h3,
			h4,
			p {
				margin-left: 0;
			}
		}

		h3,
		h4 {
			margin-top: 8px;
		}
	}
}
