@use "../settings/color" as color;
@use "../tools/tools.grid" as grid;
@use "../tools/tools.order" as order;
@use "../tools/tools.media-querries" as mq;
@use "../utilities/utility.box";

.c-currentOccupation {
	animation-delay: 750ms;

	@include order.pos(3);

	@include grid.width(1, "ls");
	@include grid.height(1);

	@extend %u-box;

	h2 {
		font-size: 1rem;
		margin-top: 16px;

		@include mq.down(ts) {
			margin-top: 8px;
		}
	}

	p {
		font-size: 0.688rem;
	}

	&__explain {
		font-size: 0.5rem;
		color: color.$text-color-b;
		// should eventually have a popover dialog with location information
	}
}
