@use "../tools/tools.grid" as grid;
@use "../utilities/utility.box";

.c-about {
	@include grid.width(3, "ls");
	@include grid.height(4);

	@extend %u-box;

	h1 {
		font-size: 2rem;
		font-weight: 400;
		letter-spacing: -1px;

		b {
			font-weight: 600;
		}
	}
}
