:root {
	--background-color: #000000;

	--text-color-a: #ffffff;

	--box__background-color: #171717;
	--box__border-color: #404040;
	--box__border-color--hover: red;
}

$background-color: var(--background-color);

$text-color-a: var(--text-color-a);

$box__bg-color: var(--box__background-color);
$box__border-color: var(--box__border-color);
$box__border-color__hover: var(--box__border-color--hover);
