@use "../utilities/utility.box";
@use "../settings/color" as color;

.c-underConstruction {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	text-align: center;

	width: 80%;
	max-width: 800px;
	height: 300px;
	max-height: 300px;

	@extend %u-box;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h1,
	a {
		padding: 0 1rem;
	}

	h1 {
		margin: 0;
		margin-bottom: 1rem;

		font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
	}

	a {
		color: color.$text-color-a;

		transition: all 200ms ease-in-out;

		&:hover {
			color: color.$box__boxShadow-color--hover;
		}
	}
}
