.c-card{

    @media (max-width: 450px) {
        width: 300px;
        min-width: 300px;

        .c-card__heading{
            width: 200px;
        }
    }

    width: 400px;
    min-width: 400px;

    margin: 1rem;
    padding: 0.8rem 0.5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    border-radius: 0.4rem;
    outline: rgba(255, 255, 255, 0.233) solid 2px;
    outline-offset: 0.5px;

    &__img{
        width: 100px;
        height: 100px;
        border-radius: 0.4rem;
    }

    &__heading{
        width: 300px;
        text-align: center;
    }

    &__text{
        margin-bottom: 2rem;
    }

    &__button{
        margin: 0.4rem 0 0.8rem;

        align-self: flex-start;
        flex-grow: 1;
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__link{
        background-color:rgb(23, 134, 199);

        margin: 0.4rem 0;
        padding: 1rem;

        border-radius: 0.4rem;

        text-decoration: none;
        color: white;
        text-align: center;

        transition: 
            background-color 400ms
        ;

        &:hover{
            background-color:rgba(23, 134, 199, 0.596);
        }
    }
}