<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Project</title>
	</head>
	<body class="u-background">
		<main class="o-grid">
			<section class="c-back">
				<a href="./projects.html">Back</a>
				<h2>
					Back to projects
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 32 32"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</h2>
			</section>
			<header class="c-header">
				<h1>Project</h1>
			</header>
			<section class="c-project__about">
				<p>a description here</p>
			</section>
			<section class="c-project__links c-project__links--site">
				<a href="#" target="_blank" rel="noopener noreferrer">
					link to website
				</a>
				<h3>
					See Site
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 32 32"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</h3>
			</section>
			<section class="c-project__tech">
				<h2>Tech used</h2>
				<ul>
					<li>Tech</li>
				</ul>
			</section>
			<section class="c-project__links c-project__links--code">
				<a href="#" target="_blank" rel="noopener noreferrer">link to code</a>
				<h3>
					See Code
					<svg
						class="c-svgArrow"
						width="32px"
						height="32px"
						viewBox="-2.4 -2.4 32 32"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" class="c-svgArrow__bgCarrier"></g>
						<g id="SVGRepo_tracerCarrier" class="c-svgArrow__tracerCarrier"></g>
						<g id="SVGRepo_iconCarrier" class="c-svgArrow__iconCarrier">
							<path d="M7 17L17 7M17 7H8M17 7V16"></path>
						</g>
					</svg>
				</h3>
			</section>
			<section class="c-project__image">
				<div class="js-carousel c-carousel">
					<div
						class="c-carousel__item c-carousel__item--active js-carousel__item"
					>
						<img src="#" alt="project image1" />
					</div>
				</div>
			</section>
			<div id="imgModal" class="c-modal js-modal">
				<span class="js-close">&times;</span>
				<img src="#" alt="#" class="c-modal__img" />
			</div>
		</main>
	</body>
</html>
