@use "../settings/color" as color;

@keyframes boxShow {
	from {
		opacity: 0;
		transform: translate(0, -50px);
		border-color: color.$box__border-color--hover;
		box-shadow: 0 0 20px 4px color.$box__boxShadow-color--hover;
	}

	25% {
		border-color: color.$box__border-color--hover;
	}

	to {
		opacity: 100;
	}
}
